/* NAVIGATION BAR */
.App-logo {
    animation: App-logo-spin infinite 7s linear;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    display: inline-block;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

nav {
    background-color: rgba(255, 60, 60, 1);
    color: white;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline-block;
}

/* CONTENT */
.App-content {
    padding: 20px;
}

.App-content input{
    width: 1000px;
}

body{
    background-image: url(background.jpg);
    background-size: 100% auto;
    background-attachment:fixed;
}

input, select, textarea{
    color: white;
}